* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ccc;
    h1 {
        font-size: 18px;
    }
    #keyboard {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 200%;
        -webkit-transform: scale(.5, .5) translateX(-50%);
        transform: scale(.5, .5) translateX(-50%);
        ul {
            width: 100%;
            overflow: hidden;
            li {
                float: left;
                list-style-type: none;
                width: 32%;
                text-align: center;
                display: block;
                height: 40px;
                border: 1px solid;
            }
        }
    }
}
